# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes/production/ThinkingWithAperture_main/pack.mcmeta
classes/production/ThinkingWithAperture_main/mcmod.info
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/ThinkingWithAperture.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/proxy/ServerProxy.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/proxy/CommonProxy.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/proxy/ClientProxy.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/items/ItemModRecord.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/items/ItemBlockBase.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/items/ISubItems.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/RegistrationHandler.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/RegistrationHandler$Recipes.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/RegistrationHandler$Potions.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/RegistrationHandler$Models.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/RegistrationHandler$Items.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/RegistrationHandler$Blocks.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/ModSounds.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/ModSounds$RegistrationHandler.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/ModItems.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/ModEntities.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/init/ModBlocks.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/client/Tab.class
classes/production/ThinkingWithAperture_main/com/jacksonplayz/thinkingwithaperture/client/KeyBinds.class
classes/production/ThinkingWithAperture_main/assets/twa/textures/items/record_want_you_gone.png
classes/production/ThinkingWithAperture_main/assets/twa/textures/items/record_still_alive.png
classes/production/ThinkingWithAperture_main/assets/twa/textures/items/record_cara_mia_addio.png
classes/production/ThinkingWithAperture_main/assets/twa/sounds/record/turrets.ogg
classes/production/ThinkingWithAperture_main/assets/twa/sounds/record/portal2.ogg
classes/production/ThinkingWithAperture_main/assets/twa/sounds/record/portal1.ogg
classes/production/ThinkingWithAperture_main/assets/twa/sounds.json
classes/production/ThinkingWithAperture_main/assets/twa/models/item/record_want_you_gone.json
classes/production/ThinkingWithAperture_main/assets/twa/models/item/record_still_alive.json
classes/production/ThinkingWithAperture_main/assets/twa/models/item/record_cara_mia_addio.json
classes/production/ThinkingWithAperture_main/assets/twa/lang/en_us.lang
classes/production/ThinkingWithAperture_main/assets/minecraft/textures/gui/container/creative_inventory/tab_aperture.png
